[user]
	name = luojxxx
	email = luojxxx@users.noreply.github.com
[alias]
  graph = "log --graph --decorate --oneline --all"
  shortgraph = "log --graph --decorate --oneline -n 10"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/gueste/.gitignore_global
